<div class="jumbotron">
    <h1>Welcome to my App</h1>
    <p>Its gonna kick all ass with Github, Cloud9 and Heroku, testing automatic deploys!! Hola Marce y Dami y Pablo!!</p>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
</div>

